{% extends 'base.html.twig' %}

{% block title %}BookingOrderForm!{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>#}
<script>

</script>
<div class = "row">
    <div class= "col-md-12"> 
    
        <div class = "row"  >
            
            <div class= "col-md-6" id= "cart"> 
            {{ form_start(form) }}

            {# { form_errors(form) } #}

            {# Render the BookingOrder fields #}
                <h3>{% trans %} Your orders {% endtrans %} </h3>   
                <aside >
                    <p id = "JS_message"> <p>
                </aside>
                <ul  class="bookingOrders" data-prototype="{{ form_widget(form.bookingOrders.vars.prototype)|e('html_attr') }}">
                    {# iterate over each existing BookingOrder and render fields to enter #}
                    {% for bookingOrder in form.bookingOrders %}
                    
                        <li>
                            <span class="required_N0"> {{ form_row(bookingOrder.expectedDate)}} </span>
                            {{ form_errors(bookingOrder.expectedDate) }}
                            <span class="required_N0"> {{ form_row(bookingOrder.partTimeCode)}} </span>
                                {{ form_errors(bookingOrder.partTimeCode) }}
                            <span class="required_N0"> {{ form_row(bookingOrder.wishes)}} </span>
                                {{ form_errors(bookingOrder.wishes) }}
                    
                            <ul class="visitors" data-prototype="{{ form_widget(bookingOrder.visitors.vars.prototype)|e('html_attr') }}"> 
                                <h3>{% trans %} Your guests {% endtrans %} </h3>  
                                {# iterate over each existing Visitor and render fields to enter #}   
                                {# % form_theme form.bookingOrder.visitor 'foundation_5_layout.html.twig' % #}
                                {{ dump(bookingOrder.visitors) }}
                                {% for visitor in bookingOrder.visitors %}                                             
                                    <li>
                                        {% include('inc/_newVisitor.html.twig') %}
                                    <p> xxxxxx </p>
                                    </li>
                                {% endfor %} 
                            </ul>
                            <a href = "#" id="add_visitor" class = "btn btn-succes">Add a visitor</a>
                        
                        </li>
                    {% endfor %}  
                 <a href = "#" id="add_bookingOrder" class = "btn btn-default" >Add an other booking day</a>
                </ul>    
            

        </div>
    

        <div  class= "col-md-6">
            <h3>{% trans %} Your references and tickets order{% endtrans %} </h3> 
            {% include('inc/_newCustomer.html.twig') %}
        </div>
    </div>
    
     {{ form_rest(form) }}
    <p> <i class="glyphicon glyphicon-chevron-left"></i> </p>
    <input type="submit" class="btn btn-primary" value= "{% trans %} Go ahead {% endtrans %} " /> 
                
    {{ form_end(form) }}
 
</div>
</div>
<script> 
</script>
{% endblock %}

