{% extends 'base.html.twig' %}

{% block title %}BookingOrderForm!{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>#}
<script>

</script>
<div class= "col-sm-12"> 
<h1>{% trans %} Hello {% endtrans %} {{ controller_name }}! ✅</h1>
<div class = "row">
  
    

    <div class= "col-sm-6"> 
        {{ form_start(form) }}
        {# Render the BookingOrder fields #}
        <summary>
            <ul>
                
                <li id= "calendar-holder">
                    {{ form_row(form.expectedDate)}}
                </li>
                <li>
                    {{ form_row(form.partTimeCode)}}
                </li>
                <li>
                    {{ form_row(form.visitorCount)}}
                </li>                                
            </ul>
        </summary>
        
    
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">     
                    <h3>{% trans %} Your visitors {% endtrans %} </h3>  
                </div>   
            
                <details  id="visitorList" data-prototype="{{ form_widget(form.visitors.vars.prototype)|e('html_attr') }}">
            {# iterate over each existing Visitor and render fields to enter #}
                    <div class="panel-body">
                        <ul class="guests">
                            {% for visitor in form.visitors %}
                        
                                <li>
                                    {{ form_row(visitor.firstName)}} 
                                    {{ form_row(visitor.lastName)}}
                                    {{ form_row(visitor.birthDate)}}
                                    {{ form_row(visitor.country)}}
                                    {{ form_row(visitor.discounted)}}                 
                                </li>
                        
                            {% endfor %}  
                        </ul> 
                    </div>    
                </details>
   
            </div>
        </div>
    </div>
   
    <div  class= "col-sm-6">
        <h3>{% trans %} Your references and tickets order{% endtrans %} </h3> 

        {{ form_row(form.customer)}}
    </div>
   
 
 

    <input type="submit" class="btn" value= "{% trans %} Go ahead {% endtrans %} " />
 
       
    {{ form_end(form) }}
 </div>
</div>
<script> </script>
{% endblock %}
