{% extends 'base.html.twig' %}

{% block title %}BookingOrderForm!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<script>

</script>

<div class="example-wrapper">
   
 <h1>Hello {{ controller_name }}! ✅</h1>
    {{ form_start(form) }}
    {# Render the BookingOrder fields #}
    
    <div class="panel-group">
        <ul>
            <div  class="col-md-8">
                
                    <li id= "calendar-holder">
                        {{ form_row(form.expectedDate)}}
                    </li>
                    <li>
                        {{ form_row(form.partTimeCode)}}
                    </li>
                    <li>
                        {{ form_row(form.visitorCount)}}
                    </li>
                                    
                    <li>
                        {{ form_row(form.customer)}}
                    </li>
                
            </div>
        </ul>

    </div>


    <h3>Your visitors</h3>     
    <div  class="col-md-8 offset-md-2" id="visitorList" data-prototype="{{ form_widget(form.visitors.vars.prototype)|e('html_attr') }}">
    {# iterate over each existing Visitor and render fields to enter #}

    
        <div class= "Panel panel-info">
            <ul class="guests">
            {% for visitor in form.visitors %}
                <li>
                    {{ form_row(visitor.firstName)}} 
                    {{ form_row(visitor.lastName)}}
                    {{ form_row(visitor.birthDate)}}
                    {{ form_row(visitor.country)}}
                    {{ form_row(visitor.discounted)}}
                    {{ form_row(visitor.cost)}}                
           
                </li>
            {% endfor %}  
            </ul>
        </div>
    </div>
    <div class="panel-footer">
        <input type="submit" class="btn" value="Etape Suivante" />
    </div>
       
    {{ form_end(form) }}

</div>
<script> </script>
{% endblock %}
