<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %} 
        {% trans %}  Welcome! {% endtrans %}
        {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css"  href=" {{asset('build/scss/app.css')}}">
        <link rel="shortcut icon" href=" {{asset('build/img/favicon.ico')}}" >
         <script src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous">  </script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"> </script>
        
        <script type="text/javascript" src=" {{asset('build/JS/main.js')}}"></script>

       
     
        {% block stylesheets %}            
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-md-12">
                {{ include('inc/_navbar.html.twig')}}
                
                    {% include 'inc/_flashMsg.html.twig' %}
                   
                    {% block body %}
                    <div class = "row">
                        <main role="main" class="container main">
            
                            <div class= "col-md-6"> 
                                {% block main %}
                            
                                {% endblock %}
                            </div>
                                    
                        </main>
                    
                        <aside role="aside" class="container aside">
                            <div class= "col-md-6"> 
                                {% block aside %}
                            
                                {% endblock %}
                            </div>
                        </aside>

                    </div>
                    {% endblock %}
                
         
            </div>
        </div>

        {% block javascripts %}{% endblock %}
         <script src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous">  </script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"> </script>
        
        <script type="text/javascript" src=" {{asset('build/JS/main.js')}}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    </body>
</ht